doctype 5
html(lang="en")
	head
		meta(charset="utf-8")
		title Личный сайт социального педагога Марины Александровны Грицаевой
		include styles
		include scripts
		include mixins
	body
		#container
			header
				a#logo(href='#')
					img(src='images/logo.png', width='134', height='84', alt='logo')
				include menu
			#intro
				img(src='images/bg.jpg', alt='bg')
			header.group_bannner_left
				hgroup
					h1 Грицаева Марина Александровна
					h2.occupation
						| Профессия: Социальный педагог
						| Регион: РФ, г. Белгород, МБОУ СОШ №7
					a.button.black(href='schedule.html') График работы
			.holder_content
				block content

		footer
			.container
				#FooterTwo	© 2013 Марина Грицаева
				#FooterTree
					a(href="http://freehtml5templates.com", target="blank") Free HTML5 Templates
