extends ../template/index

append params
	- var currentMenuItem = 'about';

block content
	section.group1.fullwidth

		h3 Обо мне
		p
			| Я люблю всех живых существ на Земле. И искренне верю в то, что 
			| каждая созданная природой букашка имеет право на жизнь.

		h2 Любимые книги
		ol
			li
				Г. Троепольский «Черный Бим, белое ухо»
			li
				А., Б. Стругацкие. «Понедельник начинается в субботу», «Пикник на обочине», «Гадкие лебеди»
			li
				М. Цветаева. «Мой Пушкин», «Живое о живом».
			li
				Ф.М. Достоевский. «Идиот», «Бедные люди», «Белые ночи», «Преступление и наказание», «Бесы».
			li
				В. Шаламов. Колымские рассказы.
			li
				О. Генри. Новеллы.
			li
				А.де Сент-Экзюпери. «Маленький принц».
			li
				К.С. Льюис «Хроники Нарнии».
			li
				Р. Брэдбери. Повести и рассказы.
			li
				Р. Шекли. «Доктор Вампир и его мохнатые друзья».
			li
				Г. Каттнер. «Сын несущего расходы».
			li
				С. Кинг. Сборник «Четыре сезона».
			li
				Ш. Борнте «Джейн Эйр».
			li
				Д. Фаулз. «Волхв».
			li
				У. Теккерей. «Ярмарка тщеславия».

		h2 Афоризмы, пословицы, поговорки
		p
			В Средней Азии говорят: "Чай - это долгий разговор добрых людей".
		p
			| Великие люди обсуждают свои идеи.
			| Обычные люди говорят о вещах.
			| Маленькие люди обсуждают других людей.
		p
			| Мир - это зеркало, и он возвращает каждому его собственное изображение. 
			| Нахмурьтесь - и он, в свою очередь, кисло взглянет на вас; засмейтесь 
			| ему и вместе с ним - и он станет вашим веселым, милым товарищем. 
			| «Ярмарка тщеславия», Уильям Теккерей
		p
			| Если ты направляешься к цели и станешь дорогою останавливаться, 
			| чтобы швырять камнями во всякую лающую на тебя собаку, то никогда 
			| не дойдешь до цели. Ф.М. Достоевский
