extends ../template/index

append params
	- var currentMenuItem = 'contacts';

block content
	section.group1.fullwidth
		h3 Контакты
		div
			| Мой почтовый ящик 
			a(href="mailto:athenahippia@gmail.com") athenahippia@gmail.com
		div
			a(href="http://school7.beluo.ru", target="blank") Сайт школы
