extends ../template/index

block content
	section.group1.fullwidth
		h3
			Галерея
		.gallery
			mixin galleryItem('road-laws-lesson-2012-big.jpg', 'Занятие по ПДД', '26.11.2012')
			mixin galleryItem('charity-lottery-2012-big.jpg', 'Благотворительная лотерея', '13.04.2012')
			mixin galleryItem('internet-lesson-2012-big.jpg', 'Интернет-урок', '04.04.2012')
