extends ../template/index

block content
	section.group1.fullwidth
		h3
			Галерея
		.gallery
			mixin galleryItem('9a-v-centre-zanytosty-05032013-01-big.jpg', '9а в центре занятости', '05.03.2013')
			mixin galleryItem('9a-v-centre-zanytosty-05032013-02-big.jpg', '9а в центре занятости', '05.03.2013')
			mixin galleryItem('itogi-akcii-donorstvo-05032013-big.jpg', 'Итоги акции Донорство', '05.03.2013')
			mixin galleryItem('roditelskoe-sobranie-28022013-big.jpg', 'Родительское собрание', '28.02.2013')
			mixin galleryItem('road-laws-lesson-2012-big.jpg', 'Занятие по ПДД', '26.11.2012')
			mixin galleryItem('charity-lottery-2012-big.jpg', 'Благотворительная лотерея', '13.04.2012')
			mixin galleryItem('internet-lesson-2012-big.jpg', 'Интернет-урок', '04.04.2012')
