extends ../template/index

block content

		section.group1
			h3 Родителям
			h2
				a(href='attachments/to-parents/care-of-parents.doc') Внимание родителей
			p
				| Внимание родителей к ребёнку – это отношение, это реакция и выражение отношения 
				| родителя к действиям, поступкам, словам ребёнка. 
			h2
				a(href='attachments/to-parents/childhood-memoirs.doc') Воспоминания о детстве
			p
				| Что обязательно нужно делать с ребёнком, чтобы воспоминания о детстве были яркими
				|  и счастливыми. 
			h2
				a(href='attachments/to-parents/notice-to-parents.doc') Памятка родителям
			p
				| Дорогие мама и папа! Для того, чтобы я вырос здоровым и счастливым человеком 
				| мне очень нужно, чтобы вы помнили о том, что для меня важно и необходимо уже сейчас. 
			h2
				a(href='attachments/to-parents/notice-to-parents-laws.doc') Памятка родителям (законы)
			p
				| Памятка для родителей и обучающихся школы о поведении несовершеннолетних в 
				| общественных местах. 
			h2
				a(href='attachments/to-parents/criminal-and-administrative-responsibility.doc') Уголовная и административная ответственность несовершеннолетних
			p
				| Семья играет важную роль в становлении характера, привычек ребенка, и поэтому 
				| сочетание родительской требовательности с надлежащим контролем за подростками 
				| является одним из главных факторов в системе воспитания будущего гражданина. 

		aside.group2
			h3 Галерея
			mixin sidebarGalleryItem('9a-v-centre-zanytosty-05032013-01', '9а в центре занятости', '05.03.2013')
			mixin sidebarGalleryItem('itogi-akcii-donorstvo-05032013', 'Итоги акции Донорство', '05.03.2013')
			mixin sidebarGalleryItem('roditelskoe-sobranie-28022013', 'Родительское собрание', '28.02.2013')
			mixin sidebarGalleryItem('road-laws-lesson-2012', 'Занятие по ПДД', '26.11.2012')

		section.group3
			h3 Детям
			h2
				a(href='attachments/to-children/bad-habits-smoking.doc') Вредные привычки - курение
			p
				| Все больше и больше людей в России отказываются от сигарет. 
				| Все меньше курящих. Сигареты не разрушают семьи и не преследуются законом. 
				| Зато широко (и довольно тонко) рекламируются и везде продаются. Не вызывают 
				| жуткую ломку, абстиненцию. И, тем не менее, большинство курящих людей старается 
				| избавиться от этой привычки. Зачем начинать, если потом будешь всю жизнь бросать? 
			h2
				a(href='attachments/to-children/howto-strife-with-stress.doc') Как бороться со стрессом
			p
				| Корзина советов как преодолеть стресс.
			h2
				a(href='attachments/to-children/howto-say-no.doc') Как научиться говорить «нет»
			p
				| 5 способов научиться говорить «нет».
			h2
				a(href='attachments/to-children/organize-mode.doc') Организация режима
			p
				| Организация режима дня школьника при выполнении домашних заданий.
			h2
				a(href='attachments/to-children/notice-for-winter-holidays.doc') Правила поведения обучающихся в период зимних каникулах 
			h2
				a(href='attachments/to-children/notice-for-safe-behavior.doc') Памятка по безопасному поведению
			h2
				a(href='attachments/to-children/helplines.doc') Телефоны доверия
			p
				| Информация для обучающихся «Международный день Телефона Доверия».
