extends ../template/index

block content

		section.group1
			h3 Родителям
			h2 Внимание родителей
			p
				| Внимание родителей к ребёнку – это отношение, это реакция и выражение отношения 
				| родителя к действиям, поступкам, словам ребёнка. 
				a(href='attachments/to-parents/care-of-parents.doc') скачать
			h2 Воспоминания о детстве
			p
				| Что обязательно нужно делать с ребёнком, чтобы воспоминания о детстве были яркими
				|  и счастливыми. 
				a(href='attachments/to-parents/childhood-memoirs.doc') скачать
			h2 Памятка родителям
			p
				| Дорогие мама и папа! Для того, чтобы я вырос здоровым и счастливым человеком 
				| мне очень нужно, чтобы вы помнили о том, что для меня важно и необходимо уже сейчас. 
				a(href='attachments/to-parents/notice-to-parents.doc') скачать
			h2 Памятка родителям (законы)
			p
				| Памятка для родителей и обучающихся школы о поведении несовершеннолетних в 
				| общественных местах. 
				a(href='attachments/to-parents/notice-to-parents-laws.doc') скачать
			h2 Уголовная и административная ответственность несовершеннолетних
			p
				| Семья играет важную роль в становлении характера, привычек ребенка, и поэтому 
				| сочетание родительской требовательности с надлежащим контролем за подростками 
				| является одним из главных факторов в системе воспитания будущего гражданина. 
				a(href='attachments/to-parents/criminal-and-administrative-responsibility.doc') скачать

		aside.group2
			h3 Галерея
			mixin sidebarGalleryItem('road-laws-lesson-2012.jpg', 'Занятие по ПДД', '26.11.2012')
			mixin sidebarGalleryItem('charity-lottery-2012.jpg', 'Благотворительная лотерея', '13.04.2012')
			mixin sidebarGalleryItem('internet-lesson-2012.jpg', 'Интернет-урок', '04.04.2012')

		section.group3
			h3 Детям
			h2 Вредные привычки - курение
			p
				| Все больше и больше людей в России отказываются от сигарет. 
				| Все меньше курящих. Сигареты не разрушают семьи и не преследуются законом. 
				| Зато широко (и довольно тонко) рекламируются и везде продаются. Не вызывают 
				| жуткую ломку, абстиненцию. И, тем не менее, большинство курящих людей старается 
				| избавиться от этой привычки. Зачем начинать, если потом будешь всю жизнь бросать? 
				a(href='attachments/to-children/bad-habits-smoking.doc') скачать
			h2 Как бороться со стрессом
			p
				| Корзина советов как преодолеть стресс 
				a(href='attachments/to-children/howto-strife-with-stress.doc') скачать
			h2 Как научиться говорить «нет»
			p
				| 5 способов научиться говорить «нет» 
				a(href='attachments/to-children/howto-say-no.doc') скачать
			h2 Организация режима
			p
				| Организация режима дня школьника при выполнении домашних заданий 
				a(href='attachments/to-children/organize-mode.doc') скачать
			h2 Правила поведения обучающихся в период зимних каникулах 
			a(href='attachments/to-children/notice-for-winter-holidays.doc') скачать
			h2 Памятка по безопасному поведению
			a(href='attachments/to-children/notice-for-safe-behavior.doc') скачать
			h2 Телефоны доверия
			p
				| Информация для обучающихся «Международный день Телефона Доверия» 
			a(href='attachments/to-children/helplines.doc') скачать
