extends base

block content
	section.group1
		h3 График работы
		div
			table
				tr
					td День недели
					td Время работы с участниками образовательного процесса
				tr
					td Понедельник
					td 11.00-18.00
				tr
					td Вторник
					td 9.00-16.15
				tr
					td Среда
					td 9.00-16.15
				tr
					td Четверг
					td 9.00-16.15
				tr
					td Пятница
					td 9.00-16.15
